/* 
    **********************************************
    ** create : By Ahmed Ali Klay 
    ** Phone  : 01126 35 0859 => not work
    ** Email  : aa9141179@gmail.com
    ** second Email : ahmed.ali.klay.dev@gmail.com
    **********************************************
    created with => html / css/ jQuery / Bootstrap
    **********************************************
*/
.bg-light {
  background-color: #fff0 !important;
  box-shadow: 0 -7px 24px #c2bfbf00;
}
.bg-light .navbar-nav .active > .nav-link, .bg-light .navbar-nav .nav-link.active, .bg-light .navbar-nav .nav-link.show, .bg-light .navbar-nav .show > .nav-link {
  color: #00bfd8;
  font-weight: 600;
}
.bg-light .navbar-nav .nav-link:focus, .bg-light .navbar-nav .nav-link:hover {
  color: #00bfd8;
}
.bg-light .navbar-nav .active a.nav-link {
  color: #FFF;
}
.bg-light .navbar-nav .nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bg-light .navbar-brand img {
  width: 115px;
  height: 30px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #00bfd8;
}

.show_nav {
  background-color: #FFF !important;
  box-shadow: 0 -7px 24px #c2bfbf;
}
.show_nav .navbar-nav .nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #464646bf;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.show_nav .navbar-nav .active a.nav-link {
  color: #00bfd8;
}
.show_nav .navbar-brand img {
  width: 83px;
  height: 30px;
}

.SlideShow {
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  padding-top: 248px;
}
.SlideShow .content-about {
  padding: 145px 0;
}
.SlideShow .content-about h2 {
  color: #00bfd8;
  font-size: 45px;
  margin-bottom: 0;
}
.SlideShow .content-about h2 span {
  color: #393939;
}
.SlideShow .content-about h2.h1 {
  color: #393939;
  font-weight: 630;
}
.SlideShow .content-about p {
  margin-top: 31px;
  color: #464646bf;
  font-size: 20px;
  font-weight: 400;
}

.trusted_by {
  background-color: #f7fdfd;
}
.trusted_by h3 {
  margin: 20px 0;
  font-weight: 650;
  color: #393939;
}
.trusted_by img {
  margin: 20px 10px;
}

.growth_services .head h2 {
  font-size: 39px;
  color: #393939;
}
.growth_services .head p {
  margin-top: 11px;
  color: #464646bf;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.growth_services .card {
  padding: 28px 10px;
  margin-top: 30px;
  border-radius: 5px;
  min-height: 393px;
}
.growth_services .card img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.growth_services .card .card-body p {
  color: #848484bf;
  line-height: 21px;
  margin-top: 20px;
  font-size: 17px;
}
.growth_services .card .card-body h4 {
  font-size: 22px;
  color: #393939;
}

.About_us .content-about {
  padding-top: 90px;
}
.About_us .content-about h2 {
  margin-bottom: 0;
  color: #393939;
}
.About_us .content-about p {
  margin-top: 20px;
  font-size: 16px;
  padding-right: 20%;
}

.challenge .content-about {
  padding-top: 90px;
  padding-left: 30px;
}
.challenge .content-about h2 {
  margin-bottom: 0;
  color: #393939;
}
.challenge .content-about ul {
  margin-top: 20px;
}
.challenge .content-about ul li {
  font-size: 15px;
  color: #464646bf;
  line-height: 29px;
}

.pricing_options .head {
  margin-top: 50px;
}
.pricing_options .head h2 {
  font-size: 33px;
  color: #393939;
}
.pricing_options .head p {
  margin-top: 10px;
  color: #464646bf;
  font-size: 18px;
  font-weight: 400;
}
.pricing_options .card {
  padding: 0 27px;
  margin-top: 50px;
}
.pricing_options .card .head {
  margin-top: 25px;
}
.pricing_options .card .price h2 {
  color: #00bfd8;
  font-weight: bold;
  letter-spacing: 2px;
}
.pricing_options .card .price h2 sup {
  position: relative;
  right: -12px;
  font-weight: normal;
}
.pricing_options .card .price h2 span {
  color: #a9a9a9;
  display: block;
  font-size: 14px;
  text-indent: 25px;
  font-weight: normal;
  letter-spacing: 1px;
}
.pricing_options .features li {
  font-size: 15px;
  color: #464646bf;
  line-height: 32px;
}
.pricing_options .main-btn {
  position: relative;
  bottom: -40px;
  margin-top: 0;
}

.following_form {
  margin: 50px auto;
  margin-bottom: 22px;
  background-color: #fbfbfb;
}
.following_form .content {
  margin: 65px 0;
}
.following_form .content p {
  line-height: 23px;
  font-size: 16px;
  margin-top: 25px;
}
.following_form .content h2 {
  line-height: 38px;
}
.following_form .content li {
  color: #464646bf;
  font-size: 18px;
  line-height: 34px;
}
.following_form form {
  margin: 65px 0;
}
.following_form form .main-btn {
  width: 100%;
  text-transform: uppercase;
}
.following_form form .form-check {
  font-size: 18px;
  color: #adadad;
}
.following_form form .form-check input[type=checkbox] {
  margin-top: 6px;
}

.video_gallery .video-wrapper img {
  width: 90%;
  margin: 30px auto;
}
.video_gallery .video-wrapper p {
  line-height: 23px;
  font-size: 16px;
}
.video_gallery .video-wrapper .video {
  position: relative;
}
.video_gallery .video-wrapper .video span {
  position: absolute;
  top: 30%;
  left: 48%;
  cursor: pointer;
}
.video_gallery #plyer_gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111ab;
  z-index: 1044;
  display: none;
}
.video_gallery #plyer_gallery iframe {
  position: relative;
  left: 34%;
  top: 33%;
}

.testimonials {
  background-image: url(../images/testimonials-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.testimonials .content {
  margin-top: 77px;
}
.testimonials .carousel-item img {
  width: 100px !important;
  height: 100px;
  border-radius: 49px;
  margin: 20px auto;
  margin-top: 36px;
}
.testimonials .carousel-item .carousel-caption {
  color: black;
  position: static;
  margin-top: -17px;
}
.testimonials .carousel-item .carousel-caption h5 {
  color: #8e8e8e;
}
.testimonials .carousel-item .carousel-caption p {
  margin-top: 0;
  color: #464646bf;
  font-size: 16px;
  font-weight: 400;
  padding: 0 17%;
  line-height: 22px;
}
.testimonials .carousel-control-next-icon,
.testimonials .carousel-control-prev-icon {
  background-image: none;
}
.testimonials .carousel-control-next-icon svg,
.testimonials .carousel-control-prev-icon svg {
  color: #00bfd8;
}
.testimonials .carousel-control-next-icon svg {
  color: #00bfd8;
}

.team p {
  margin-top: 11px;
  color: #464646bf;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.team .content .avatar img {
  border-radius: 50%;
  width: 200px;
  margin: 27px auto;
}
.team .content p {
  margin-top: 0;
  color: #464646bf;
  font-size: 16px;
  font-weight: 400;
  padding: 0 17%;
  line-height: 22px;
  margin-bottom: 10px;
}
.team .content h3 {
  color: #393939;
  font-size: 21px;
  margin-bottom: 6px;
}
.team .content li {
  display: inline-block;
  margin: 0px 7px;
  font-size: 22px;
  border-radius: 50%;
  width: 33px;
}
.team .content li svg {
  padding: 1px;
}

.Contact_Information {
  background-color: #f7fdfd;
  padding: 80px 0;
}
.Contact_Information h2 {
  font-size: 39px;
  color: #393939;
}
.Contact_Information p {
  margin-top: 11px;
  margin-bottom: 50px;
  color: #464646bf;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
}
.Contact_Information p svg {
  color: #00bfd8;
  margin: 0 10px;
}
.Contact_Information .map-responsive iframe {
  width: 100%;
  min-height: 400px;
}
.Contact_Information form .main-btn {
  width: 100%;
  text-transform: uppercase;
}

.main-btn {
  background-color: #00bfd8;
  color: #FFF;
  border-radius: 24px;
  padding: 7px 34px;
  font-weight: 550;
  border: 1.7px solid #00bfd8;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.main-btn:hover {
  background-color: #FFF;
  color: #00bfd8;
  border-color: #00bfd8;
}

form input.form-control,
form textarea {
  margin-top: 26px;
  height: 47px;
  border-radius: 0;
}
form .form-check {
  margin: 22px 0;
}

.btn-player {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #00bfd8;
  border-bottom: 50px solid transparent;
  animation: Player 4s ease-in-out infinite;
}

@keyframes Player {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.btn-social {
  color: #f7fdfd;
  background-color: #00bfd8;
  border: 1px solid #00bfd8;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn-social:hover {
  color: #00bfd8;
  background-color: #f7fdfd;
}

input::placeholder,
textarea::placeholder {
  color: #b1b0b0ba !important;
  outline: none;
}

.form-control:focus {
  color: #495057;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.form-check {
  font-size: 18px;
  color: #adadad;
}

.section {
  padding: 40px 0;
}

.border-bottom {
  padding-bottom: 21px;
  border-bottom: 1px solid #00505b59 !important;
  margin-bottom: 20px;
}

svg.fa-check,
svg.fa-times {
  color: #00bfd8;
  margin-right: 5px;
}

svg.fa-times {
  color: #393939;
}

.About_us .content-about p {
  margin-top: 20px;
  font-size: 16px;
  padding-right: 20%;
}

h2 {
  margin-bottom: 0;
  color: #393939;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #00bfd8;
}

.footer {
  padding-top: 80px;
}
.footer .Important_Links li {
  color: #464646bf;
}
.footer .Important_Links li svg {
  color: #00bfd8;
  position: relative;
  top: 3px;
}
.footer h3 {
  color: #393939;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.footer p {
  margin-top: 0;
  color: #464646bf;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}
.footer .social_media li {
  display: inline-block;
  margin-right: 7px;
  font-size: 22px;
  border-radius: 50%;
  height: 50px;
  padding: 9px 13px 27px 14px;
}
.footer .copyright {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 19px;
}

/*# sourceMappingURL=homepage.css.map */
