// Start Home page

.SlideShow{
    background-image:url(../images/header-background.jpg);
    background-size:cover;
    padding-top: 248px;
    .content-about{
        padding: 145px 0;
        h2{
            color: $mainColor;
            font-size: 45px;
            margin-bottom: 0;
            span{
                color: $grayColor;
            }
        }
        h2.h1{
            color: $grayColor;
            font-weight: 630;
        }
        p{
            margin-top: 31px;
            color: $blackColor;
            font-size: 20px;
            font-weight: 400;
        }
    }
}
// Start Section trusted_by
.trusted_by{
    background-color: #f7fdfd;
    h3{
        margin:20px 0;
        font-weight: 650;
        color: $grayColor;
    }
    img{
        margin:20px 10px
    }
}
// End Section trusted_by
// Start Section Business Growth Services
.growth_services{
    .head{
        h2{
            font-size: 39px;
            color: $grayColor;
        }
        p{
            margin-top: 11px;
            color: $blackColor;
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
        }
    }
    .card{
        padding: 28px 10px;
        margin-top: 30px;
        border-radius: 5px;
        min-height: 393px;
        img{
            width:100px;
            height:100px;
            margin:20px auto
        }
        .card-body{
            p{
                color: #848484bf;
                line-height: 21px;
                margin-top: 20px;
                font-size: 17px;
            }
            h4{
                font-size: 22px;
                color: $grayColor;
            }
        }
    }
}
// End Section Business Growth Services

// Start Section About_us
.About_us{
    .content-about{
        padding-top: 90px;
        h2{
            margin-bottom:0;
            color: $grayColor;
        }
        p{
            margin-top:20px;
            font-size: 16px;
            padding-right: 20%;
        }
    }
}
// End Section About_us
// Start challenge
.challenge{
    .content-about{
        padding-top: 90px;
        padding-left: 30px;
        h2{
            margin-bottom:0;
            color: $grayColor;
        }
        ul{
            margin-top:20px;
            li{
                font-size: 15px;
                color: $blackColor;
                line-height: 29px;
                
            }
        }
    }
}
// End challenge

// Start pricing_options
.pricing_options{
        .head{
            margin-top:50px;
            h2{
                font-size: 33px;
                color: $grayColor;
            }
            p{
                margin-top: 10px;
                color: $blackColor;
                font-size: 18px;
                font-weight: 400;
            }
        } 
        .card{
            padding: 0 27px;
            margin-top:50px;
            .head{
                margin-top:25px;
            }
            .price{
                h2{
                    color:$mainColor;
                    font-weight: bold;
                    letter-spacing: 2px;
                    sup{
                        position: relative;
                        right: -12px;
                        font-weight: normal;
                    }
                    span{
                        color:#a9a9a9;
                        display: block;
                        font-size: 14px;
                        text-indent: 25px;
                        font-weight: normal;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .features{
            li{
                font-size: 15px;
                color: #464646bf;
                line-height: 32px;
            }
        }
        .main-btn{
            position:relative;
            bottom: -40px;
            margin-top:0;
        }
}
// End pricing_options
.following_form{
    margin:50px auto;
    margin-bottom:22px;
    background-color: #fbfbfb;
    .content{
        margin:65px 0;
        p{
            line-height: 23px;
            font-size: 16px;
            margin-top:25px
        }
        h2{
            line-height:38px
        }
        li{
            color: #464646bf;
            font-size: 18px;
            line-height: 34px;
        }
    }
    form{
        margin:65px 0;
        .main-btn{
            width:100%;
            text-transform: uppercase;
        }
        .form-check{
            font-size: 18px;
            color: #adadad;
            input[type=checkbox]{
                margin-top: 6px;
            }  
        }
        
    }
}
// End  

// Start video_gallery
.video_gallery{
    .video-wrapper{
        img{
            width:90%;
            margin:30px auto;
        }
        p{
            line-height: 23px;
            font-size: 16px;
        }
        .video{
                position:relative;
            span{
                position: absolute;
                top: 30%;
                left: 48%;
                cursor: pointer;
            }
        }
    }
    #plyer_gallery{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background-color: #111111ab;
        z-index:1044;
        display: none;
        iframe{
            position: relative;
            left: 34%;
            top: 33%;
        }
    }
    
}
// End video_gallery

// Start Testimonials
.testimonials{
    background-image:url(../images/testimonials-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    .content {
        margin-top:77px;
    }
    .carousel-item{
        img{
            width: 100px !important;
            height: 100px;
            border-radius: 49px;
            margin: 20px auto;
            margin-top: 36px;
        }
        .carousel-caption{
            color:black;
            position:static;
            margin-top: -17px;
            h5{
                color: #8e8e8e;
            }
            p{
                margin-top: 0;
                color: $blackColor;
                font-size: 16px;
                font-weight: 400;
                padding: 0 17%;
                line-height: 22px;
            }
        }
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        background-image:none;
        svg{
            color:$mainColor;
        }
    }
    //Error Here
    .carousel-control-next-icon{
        svg{
            color:$mainColor;
        }
    }
}
// End Testimonials

// Start section About The Team
.team{
    p{
        margin-top: 11px;
        color: $blackColor;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }
    .content{
        .avatar{
            img{
                border-radius: 50%;
                width: 200px;
                margin: 27px auto;
            }
        }
        p{
            margin-top: 0;
            color: $blackColor;
            font-size: 16px;
            font-weight: 400;
            padding: 0 17%;
            line-height: 22px;
            margin-bottom: 10px;
        }
        h3{
            color: $grayColor;
            font-size: 21px;
            margin-bottom: 6px;
        }
        li{
            display: inline-block;
            margin: 0px 7px;
            font-size: 22px;
            border-radius: 50%;
            width: 33px;
            svg{
                padding: 1px;
            }
        }
    }
    
}
// End section About The Team

// Start Section Contact Information
.Contact_Information{
    background-color: #f7fdfd;
    padding:80px 0;
    h2{
        font-size: 39px;
        color: #393939;
    }
    p{
        margin-top: 11px;
        margin-bottom: 50px;
        color: $blackColor;
        font-size: 18px;
        line-height: 33px;
        font-weight: 400;
        svg{
            color:$mainColor;
            margin:0 10px;
        }
    }
    .map-responsive{
        iframe{
            width: 100%;
            min-height: 400px;
        }
    }
    form{
        .main-btn{
            width:100%;
            text-transform: uppercase;
        }
    }
}
// End Contact Information