.main-btn{
    background-color: $mainColor;
    color: $whiteColor;
    border-radius: 24px;
    padding: 7px 34px;
    font-weight: 550;
    border:1.7px solid $mainColor;
    @include prefixer(transition,all .3s ease-in-out,moz o);
    margin-top:20px;
}.main-btn:hover{
    background-color: $whiteColor;
    color: $mainColor;
    border-color: $mainColor;
}
form{
    input.form-control,
    textarea{
        margin-top: 26px;
        height: 47px;
        border-radius: 0;
    }
    .form-check{
        margin:22px 0
    }
}
.btn-player{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid $mainColor;
    border-bottom: 50px solid transparent;
    animation:Player 4s ease-in-out infinite
}.btn-player::before{
    
}

@keyframes Player{
    0%{
        opacity:.5;
        transform: scale(1);
    }
    50%{
        opacity:1;
        transform: scale(1.3);
    }
    100%{
        opacity:.5;
        transform: scale(1);
    }
}
.btn-social{
    color: #f7fdfd;
    background-color: $mainColor;
    border:1px solid $mainColor;
    @include prefixer(transition,all .5s ease-in-out,moz o);
    &:hover{
        color: $mainColor;
        background-color: #f7fdfd;
    }
}
$whiteColor : #FFF;
$mainColor  : #00bfd8;
$lavenderColor : #c2bfbf;
$grayColor : #393939;
$blackColor: #464646bf;