// Start Footer
.footer{
    padding-top:80px;
    .Important_Links{
        li{
            color: #464646bf;
            svg{
                color:$mainColor;
                position: relative;
                top: 3px;
            } 
        } 
    }
    h3 {
        color: #393939;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    p {
        margin-top: 0;
        color: #464646bf;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .social_media{
        li{
            display: inline-block;
            margin-right: 7px;
            font-size: 22px;
            border-radius: 50%;
            height: 50px;
            padding: 9px 13px 27px 14px;
        }
    }
    .copyright{
        margin-top:30px;
        padding-top:30px ;
        padding-bottom: 19px;
    }
}
// End Footer