// Start Grid 
input::placeholder,
textarea::placeholder {
    color: #b1b0b0ba !important;
    outline: none;
}.form-control:focus {
    color: #495057;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.form-check{
    font-size: 18px;
    color: #adadad;
}

.section{
    padding:40px 0
}
.border-bottom{
    padding-bottom: 21px;
    border-bottom: 1px solid #00505b59 !important;
    margin-bottom: 20px;
}
svg.fa-check,
svg.fa-times{
    color: $mainColor;
    margin-right:5px
}svg.fa-times{
    color: $grayColor;
}
.About_us .content-about p {
    margin-top: 20px;
    font-size: 16px;
    padding-right: 20%;
}
h2 {
    margin-bottom: 0;
    color: #393939;
}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb{
    background-color: $mainColor;
}