// Start Header

.bg-light {
    background-color: #fff0 !important;
    box-shadow: 0 -7px 24px #c2bfbf00;
    .navbar-nav{
        .active>.nav-link, .nav-link.active, .nav-link.show, .show>.nav-link {
            color: $mainColor;
            font-weight:600;
        }
        .nav-link:focus, .nav-link:hover {
            color: $mainColor;
        }
        .active a.nav-link{
            color: $whiteColor;
        }
        .nav-link {
            padding-top: 20px;
            padding-bottom: 20px;
            color: $whiteColor;
            font-weight: 600;
            @include prefixer(transition,all .3s ease-in-out,webkit moz);
        }
    }
    .navbar-brand img{
        width: 115px;
        height: 30px;
    }
}
.dropdown-item:focus, .dropdown-item:hover {
    color: $mainColor;
}
.show_nav{
    background-color: $whiteColor !important;
    box-shadow: 0 -7px 24px $lavenderColor;
    .navbar-nav {
        .nav-link {
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: $blackColor;
            font-weight: 600;
            @include prefixer(transition,all .3s ease-in-out,webkit moz);
            
        }
        .active a.nav-link{
            color: $mainColor;
        }
    }
    .navbar-brand img{
        width: 83px;
        height: 30px;
    }
}